{% extends "layout.html" %}

{% block content %}
<div class="min-vh-100 d-flex flex-column">
    <header class="flex-shrink-0">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
            <a href="/" class="navbar-brand">Анализатор страниц</a>
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/urls" class="nav-link">Сайты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="flex-grow-1">
        <div class="container-lg mt-3">
            <h1>Сайты</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-nowrap" data-test="urls">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Последняя проверка</th>
                            <th>Код ответа</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for url in urls %}
                        <tr>
                            <td>{{ url[0] }}</td>
                            <td><a href="/urls/{{ url[0] }}">{{ url[1] }}</a></td>
                            {% if url[2] %}
                                <td>{{ url[2].date() }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if url[3] %}
                                <td>{{ url[3] }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
{% endblock %}